body {  
    background-color: aliceblue;
}
.sidebar {
    text-align: center;
    left: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.option {
    background-color: navy;
    left: 0px;
    width: 200px;
    height: 54px;
}
.sidebar-name {
    width: fit-content;
}
img {
    display: flex;
    left: 0px;
    margin-right: 150px;
    width: 53px;
}