body {  
    background-color: aliceblue;
}
.sidebar {
    text-align: center;
    left: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.option {
    background-color: navy;
    left: 0px;
    width: 100px;
    height: 54px;
}
img {
    left: 0px;
    margin-right: 125px;
    width: 53px;
}